/* Default styles for all screen sizes */
body {
    margin: 0;
    padding: 0;
    background-color: red;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

h1 {
    font-size: 36px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

img {
    max-width: 100%;
    height: auto;
}

/* Media query for small screens (e.g., smartphones) */
@media (max-width: 576px) {
    body {
        background-color: red;
    }

    .container {
        width: 90%;
    }

    h1 {
        font-size: 24px;
    }
}

/* Media query for medium screens (e.g., tablets) */
@media (min-width: 577px) and (max-width: 992px) {
    body {
        background-color: red;
    }

    .container {
        width: 70%;
    }

    h1 {
        font-size: 28px;
    }
}

/* Media query for large screens (e.g., desktops) */
@media (min-width: 993px) {
    body {
        background-color: red;
    }

    .container {
        width: 50%;
    }

    h1 {
        font-size: 36px;
    }
}